{# Template filtro.html.twig for AlmacenesMapas #}
{# -------------------------------------------------------#}
<div class='Filtro'>
	<form name='filtro' id='filtro' action='' method='POST'>
		<input name='controller' value='{{ values.controller }}' type='hidden' />
		<input name='action' value='list' type='hidden' />
		{% include '_global/FiltroGenerico.html.twig' with {'filter': filter} %}
	</form>
</div>