{# Template new.html.twig for Log #}
{# -------------------------------------------------------#}
{# CREAR UN REGISTRO NUEVO                                #}
{# -------------------------------------------------------#}
{% extends 'Log/index.html.twig' %}

{% block navegador %}{% endblock %}

{% block mantenimiento %}
<div class="FormManto">
	<form name="manto" action="" method="POST">
		<div class='Comandos'>
			{% if values.permisos['I'] %}
			<input type="submit" name="accion" value="Crear" class="Comando"/>
			<hr>
                    {% endif %}
		</div>

		<div class="Cuerpo">
			<input name="controller" value="Log" type="hidden" />
			<input name="action" value="new" type="hidden" />
			<input name="Log[IDEvento]" value="{{ values.datos.IDEvento }}" type="hidden" />
			{% include '_global/FormErrores.html.twig' with {'errores': values.errores} %}
			{% include "Log/form.html.twig" with {'datos': values.datos} %}
		</div>
	</form>
</div>
{% endblock %}