{# Template index.html.twig for AlmacenesMapas #}
{# ----------------------------------------------------#}
{% extends layout %}

{% block content %}

<div style="float: left; width: 39%;">
    <h3>Tallas</h3>
    <iframe width="100%" height="327" scrolling="yes" style="margin-top:5px; border:0;"
            src="{{app.path}}/Tallas/list">
    </iframe>
</div>

<div style="float: right; width: 59%;">
    <h3>Colores</h3>
    <iframe width="100%" height="327" scrolling="yes" style="margin-top:5px; border:0;"
            src="{{app.path}}/Colores/list">
    </iframe>
</div>
{% endblock %}