<IfModule mod_rewrite.c>
    RewriteEngine On

    RewriteCond %{REQUEST_URI} \..+$
    RewriteCond %{REQUEST_URI} !\.html$
    RewriteCond %{REQUEST_URI} !\.xml$
    RewriteRule .* - [L]

    RewriteCond %{REQUEST_FILENAME} !-f
    # EXCEPCION A LA CARPETA Cpanel
    RewriteCond %{REQUEST_URI} !/Cpanel
    RewriteCond %{REQUEST_URI} !/ppu
    RewriteCond %{REQUEST_URI} !/ppu1
    RewriteCond %{REQUEST_URI} !/appBuilder
    RewriteCond %{REQUEST_URI} !/aeroprint
    RewriteCond %{REQUEST_URI} !/Hermes
    RewriteCond %{REQUEST_URI} !/fbalaustres
    RewriteCond %{REQUEST_URI} !/webs/romero
    RewriteCond %{REQUEST_URI} !/webs/tienda 
    RewriteCond %{REQUEST_URI} !/webs/instaladores             
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>

<ifModule mod_deflate.c>
    <filesMatch "\.(js|css)$">
    SetOutputFilter DEFLATE
    </filesMatch>
</ifModule>

#AddDefaultCharset utf-8